body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /*color: blue;*/
    background-color: azure;
    /*background-image: url(Imagens/neom-n7SdozgzvyA-unsplash.jpg);
    background-size: cover;
    background-attachment: fixed;*/
}